@import "legacy-variables.scss";

$font-family-base: 'Open Sans', Arial, sans-serif;

$btn-default-color: $buttonDefaultTextColor;
$btn-default-bg: $buttonDefaultBgColor;
$btn-default-border: $buttonDefaultBorderColor;
